/* Variable */

:root {
  --primary-color: #fff;
  --secondary-color: #111729;
  --label-color: #cdd5e0;
  --place-holder-color: #cdd5e0;
  --button-color: #4036a9;
  --secondary-background-color: #ffffff25;
}

html,
body {
  width: 100%;
  height: fit-content;
  min-height: 100%;
}

body {
  background-image: url("../img/bg-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primary-color);
  font-family: "Be Vietnam Pro", sans-serif;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;
  margin-block-start: 3rem;
  border-radius: 15px;
  background: var(--secondary-background-color);
  padding: 1rem;
  max-width: 900px;
}

main {
  padding: 1rem;
}

.call-to-action-title {
  margin-block-start: 2rem;
  padding-inline: 3rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.call-to-action-subtitle {
  margin-block-start: 1rem;
  padding-inline: 3rem;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}

.input {
  display: flex;
  flex: 100%;
  flex-direction: column;
  font-weight: bold;
}

.input-button {
  color: var(--button-color);
}

.input-button,
.input-input,
.input-select,
.input-textarea {
  border: none;
  border-radius: 5px;
  padding-inline: 1rem;
  height: 3rem;
}

.input-input::placeholder {
  color: var(--place-holder-color);
}

.input-label {
  font-size: 0.875rem;
}

.input-textarea {
  padding-block: 1rem;
  height: 100%;
}

.input-textarea::placeholder {
  opacity: 1;
  color: var(--secondary-color);
}

.logo {
  width: 100px;
}

@media (width >= 640px) {
  html,
  body {
    height: 100%;
  }

  fieldset {
    flex-direction: row;
  }
}

@media (width >= 1024px) {
  .call-to-action-title {
    margin-block-start: 0;
    font-size: 4rem;
  }

  .call-to-action-subtitle {
    font-size: 1.4rem;
  }
}
